{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    <!-- Intro -->
    <div id="intro-wrapper" class="wrapper style1" xmlns="http://www.w3.org/1999/html">
        <div class="title">What are we doing?</div>
        <section id="intro" class="container">
            <p class="style1">
                Have you ever wondered what kind of data can come out of analysing the stats for a Call For Papers? So have we.
                </br>Where do proposals come from? Is there a topic or format bias from each country? Is your conference
                building a diverse following? Do all these vary according to region or language?
            </p>
            <p class="style2">
                Call for Stats plans to acquire data from CfPs and share it as Open Data with the world.
            </p>
            <ul class="actions">
                <li><a href="#" class="button style3 big">See some stats!</a></li>
            </ul>
        </section>
    </div>

    <!-- Main -->
    <div class="wrapper style2">
        <div class="title">How do I get Involved?</div>
        <div id="main" class="container">

            <!-- Features -->
            <section id="features">
                <header class="style1">
                    <h2>Dolor consequat feugiat amet veroeros</h2>
                    <p>Feugiat dolor nullam orci pretium phasellus justo</p>
                </header>
                <div class="feature-list">
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-comment">Send Data via our API</h3>
                                <p>If you host a conference that has a public Call for Papers, send us your <b>anonymized</b> data via our REST API</p>
                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-refresh">Access our stats</h3>
                                <p>This is an Open Data effort, you are free to visualize our stats, or download our data via REST API and crunch your own numbers</p>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-picture-o">Anonymized</h3>
                                <p>All our data is anonymized, no names, no emails, just statistics from all speakers.</p>
                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-cog">Tempus sed pretium orci</h3>
                                <p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate.
                                    Eget mattis at, laoreet vel velit lorem.</p>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-wrench">Aliquam consequat et feugiat</h3>
                                <p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate.
                                    Eget mattis at, laoreet vel velit lorem.</p>
                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <h3 class="icon fa-check">Dolore laoreet aliquam mattis</h3>
                                <p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate.
                                    Eget mattis at, laoreet vel velit lorem.</p>
                            </section>
                        </div>
                    </div>
                </div>
                <ul class="actions actions-centered">
                    <li><a href="#" class="button style1 big">Get Started</a></li>
                    <li><a href="#" class="button style2 big">More Info</a></li>
                </ul>
            </section>

        </div>
    </div>
{% endblock %}
